:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --main-color: #3498db;
    --main-color-strong: #2986c4;
    --main-color-light: #daebf6;
    --neutral-color: #eeeeee;
    --gray-color: #cecece;
    --invert: 0;
    --normal-font-size: 0.9rem;
    --small-font-size: 0.8rem;
    --large-font-size: 1.1rem;
    --very-large-font-size: 1.3rem;
    --border-radius: 5px;
    --padding: 20px;
    --half-padding: 10px;
    --quarter-padding: 5px;
    --section-width-default: 0.8;
    --section-width-mobile: 0.9;
}

body.dark {
    --bg-color: #000000;
    --text-color: #ffffff;
    --invert: 1;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--bg-color);
    color: var(--text-color);
}