@import url('./Accordion/index.css');
@import url('./AppBar/index.css');
@import url('./Background/index.css');
@import url('./Button/index.css');
@import url('./BgButton/index.css');
@import url('./BorderLine/index.css');
@import url('./Drawer/index.css');
@import url('./FileInput/index.css');
@import url('./FlexBox/index.css');
@import url('./Footer/index.css');
@import url('./Form/index.css');
@import url('./Grid/index.css');
@import url('./HBox/index.css');
@import url('./Header/index.css');
@import url('./Input/index.css');
@import url('./Line/index.css');
@import url('./Link/index.css');
@import url('./Modal/index.css');
@import url('./Search/index.css');
@import url('./Section/index.css');
@import url('./Select/index.css');
@import url('./Small/index.css');
@import url('./Snackbar/index.css');
@import url('./Span/index.css');
@import url('./SubHeader/index.css');
@import url('./Table/index.css');
@import url('./Textarea/index.css');
@import url('./VBox/index.css');

:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --main-color: #3498db;
    --main-color-strong: #2986c4;
    --main-color-light: #daebf6;
    --neutral-color: #eeeeee;
    --gray-color: #cecece;
    --invert: 0;
    --normal-font-size: 0.9rem;
    --small-font-size: 0.8rem;
    --large-font-size: 1.1rem;
    --very-large-font-size: 1.3rem;
    --border-radius: 5px;
    --padding: 20px;
    --half-padding: 10px;
    --quarter-padding: 5px;
    --section-width-default: 0.8;
    --section-width-mobile: 0.9;
}

body.dark {
    --bg-color: #000000;
    --text-color: #ffffff;
    --invert: 1;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--bg-color);
    color: var(--text-color);
}