.table-container {
    width: 100%;
    overflow-x: auto;
}

.table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: var(--border-radius);
    width: 100%;
    border: 1px solid var(--gray-color);
    table-layout: fixed;
    min-width: 100%;
    width: max-content;
}

.table th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}

.table th,
.table td {
    padding: var(--quarter-padding);
    text-align: left;
    border-right: 1px solid var(--gray-color);
    border-bottom: 1px solid var(--gray-color);
}

.table th:last-child,
.table td:last-child {
    border-right: none;
}

.table tr:last-child td {
    border-bottom: none;
}

.table th {
    position: relative;
}

.table th.active {
    color: var(--main-color);
}

.table .resizer {
    width: 5px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    cursor: col-resize;
    user-select: none;
    z-index: 1;
}

.checkbox-cell {
    width: 16px;
    text-align: center;
}