.accordion {
    border: 1px solid var(--neutral-color);
    border-radius: var(--border-radius);
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    position: relative;
}

.accordion .accordion-header {
    cursor: pointer;
}

.accordion .accordion-content {
    height: 0;
    opacity: 0;
    visibility: hidden;
    position: relative;
    overflow: visible;
    transition: all 3ms ease;
}

.accordion .accordion-content.open {
    height: auto;
    opacity: 1;
    visibility: visible;
    padding-top: var(--padding);
}